.root-editor-container {
    background-color: #1a1a1a;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;

    .right-container {
        display: flex;
        gap: 10px; /* Adds space between the two select elements */
    }
  
    .editor-header,
    .editor-footer {
      display: flex;
      justify-content: space-between;
      background-color: #1a1a1a;
      padding: 10px;
  
      button,
      select {
        background-color: #373737;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;
      }
  
      button:hover,
      select:hover {
        background-color: #33615a;
        color: #03f3d7;
      }
  
      .title {
        font-size: 24px;
      }
    }
  
    .editor-body {
      flex-grow: 1;
      background-color: #1e1e1e;
    }
  
    .label {
      display: inline-block;
      padding: 10px 20px;
      background-color: #2a3d3a;
      color: #03f3d7;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
    }
  
    .offcanvas {
      background-color: #333333;
      color: white;
  
      .offcanvas-header {
        background-color: #222222;
      }
    }
  }


  
  